@font-face {
  font-family: 'roboto-medium';
  src: url('../fonts-frontend/roboto-medium.woff') format('woff');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('../fonts-frontend/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'robotoslab-regular';
  src: url('../fonts-frontend/robotoslab-regular.woff') format('woff');
}
@font-face {
  font-family: 'sourcesanspro-regular';
  src: url('../fonts-frontend/sourcesanspro-regular.woff') format('woff');
}
